h1{

background: #ec610a;    
font-size: 30px;
/* margin-left: 100px;
margin-bottom: 200px; */
/* margin: 100px; */
margin:220px 50px, 30px,500px;
}

.fondo{
    background:black;
}
p{
    background :#a40a3c;
    padding: auto;
}